<a href="https://colab.research.google.com/github/Bhakthipoorna/machine-learning/blob/main/KNN%20classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##KNN classification

In [ ]:
#Importing required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Reading the datset
data=pd.read_csv('diabetes.csv')
data

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [ ]:
data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [8]:
#Handling missing values
#We have so many zeros in the dataset, that is nothing but the errors, so we replace the zeros by nan values.

     Pregnancies  Glucose  ...    Age  Outcome
0          False    False  ...  False    False
1          False    False  ...  False    False
2          False    False  ...  False    False
3          False    False  ...  False    False
4          False    False  ...  False    False
..           ...      ...  ...    ...      ...
763        False    False  ...  False    False
764        False    False  ...  False    False
765        False    False  ...  False    False
766        False    False  ...  False    False
767        False    False  ...  False    False

[768 rows x 9 columns]

In [10]:
(data[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']]==0).sum()

Pregnancies      111
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [11]:
data[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']]=(data[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI']]).replace(0,np.nan)

In [12]:
data

     Pregnancies  Glucose  ...  Age  Outcome
0            6.0    148.0  ...   50        1
1            1.0     85.0  ...   31        0
2            8.0    183.0  ...   32        1
3            1.0     89.0  ...   21        0
4            NaN    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763         10.0    101.0  ...   63        0
764          2.0    122.0  ...   27        0
765          5.0    121.0  ...   30        0
766          1.0    126.0  ...   47        1
767          1.0     93.0  ...   23        0

[768 rows x 9 columns]

In [17]:
#Filling the missing values
data.fillna(value=data.mean(),inplace=True)
data

     Pregnancies  Glucose  ...  Age  Outcome
0       6.000000    148.0  ...   50        1
1       1.000000     85.0  ...   31        0
2       8.000000    183.0  ...   32        1
3       1.000000     89.0  ...   21        0
4       4.494673    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763    10.000000    101.0  ...   63        0
764     2.000000    122.0  ...   27        0
765     5.000000    121.0  ...   30        0
766     1.000000    126.0  ...   47        1
767     1.000000     93.0  ...   23        0

[768 rows x 9 columns]

In [22]:
#Splitting the dataset
x=data.iloc[:,0:8]
y=data.iloc[:,8]
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [24]:
#Splitting train test data
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=30)

In [27]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((576, 8), (192, 8), (576,), (192,))

In [30]:
from sklearn.neighbors import KNeighborsClassifier

In [31]:
#Initialise the model
model=KNeighborsClassifier()

In [32]:
#Fit the train data
model.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [39]:
#Model testing/Evaluation
y_predict=model.predict(x_test)

In [40]:
from sklearn.metrics import confusion_matrix, accuracy_score, recall_score, precision_score, f1_score, classification_report

In [41]:
confusion_matrix(y_test,y_predict)

array([[102,  28],
       [ 28,  34]])

In [42]:
accuracy_score(y_test,y_predict)

NameError: ignored

In [43]:
precision_score(y_test,y_predict)

0.5483870967741935

In [44]:
recall_score(y_test,y_predict)

0.5483870967741935

In [45]:
f1_score(y_test,y_predict)

0.5483870967741935

In [47]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.78      0.78      0.78       130
           1       0.55      0.55      0.55        62

    accuracy                           0.71       192
   macro avg       0.67      0.67      0.67       192
weighted avg       0.71      0.71      0.71       192